/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


#datetime-picker {
  border: 1px solid #808080;
  border-radius: 4px;
width: 240px;
height: 40px;
padding: 0px 16px;
margin-top: 32px;
margin-bottom: 32px;
}

#datetime-picker:hover {
  border: 1px solid #000;
}

#datetime-picker:active {
border: 1px solid #4e75ff;
}

#datetime-picker:disabled {
  background-color: #fafafa;
  color: #808080;
}

button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  font-family: var(--font-family);
font-weight: 500;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
margin-left: 8px;
}

button:hover {
  background-color: #6c8cff;
}

button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
gap: 24px; 
align-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-family: var(--font-family);
font-size: 40px;
line-height: 120%;
letter-spacing: 0.04em;
color: #2e2f42;

}

.label {
  font-family: var(--font-family);
line-height: 150%;
color: #2e2f42;
text-transform: uppercase;
}


[name='delay'] {
  display: flex;
  width: 340px;
  height: 40px;
  padding-left: 16px;
  padding-bottom: 0;
  padding-top: 0;
}


form button {
  border-radius: 8px;
padding: 8px 16px;
width: 360px;
height: 40px;
background: #4e75ff;
margin-left: 0;
font-family: var(--font-family);
font-weight: 500;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
}

form button:hover,
form button:focus {
background-color:#6c8cff;;
}

fieldset {
  width: 264px;
 padding: 24px 48px 8px 48px;
 margin: 16px 0 24px 0;
}